* {
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  margin-top: 100px;
}

.form #submit {
  margin-top: 20px;
  border: none;
  height: 40px;
  width: 80px;
  font-size: 20px;
}

.form #title {
  margin-bottom: 20px;
  height: 40px;
  font-size: 15px;
}

.form input:hover {
  background-color: #aaa;
  cursor: pointer;
}
